@import "tailwindcss";


.normal-font-family {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
body{
    overflow-y: hidden;
}

@theme {
    --text-tiny: 1.125rem;
    --text-normal: 1.25rem;
    --text-medium: 2.25rem;
    --text-large: 3rem;
    --text-huge: 4.5rem;
    --text-hugeplus: 5.375rem;
    --text-enormous: 9rem;
    --text-giant: 13.125rem;
}