@import "tailwindcss";


.normal-font-family {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}
body{
    overflow-y: hidden;
}

.underline-text::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 0;
    background-color: white;
}

.underline-text:hover::after{
    width: 100%;
    transition: width 0.3s ease;
}
@theme {
    --text-tiny: 1.125rem;
    --text-normal: 1.5rem;
    --text-medium: 2.25rem;
    --text-large: 3rem;
    --text-huge: 4.5rem;
    --text-hugeplus: 5.375rem;
    --text-enormous: 9rem;
    --text-giant: 13.125rem;
}